<!-- templates/_nav.html -->
<div class="panel">
  <div class="nav">
    <a href="{{ url_for('render_index_page') }}">Index</a>
    <a href="{{ url_for('render_customers_page') }}">Customers</a>
    <a href="{{ url_for('render_employees_page') }}">Employees</a>
    <a href="{{ url_for('render_gear_items_page') }}">Gear Items</a>
    <a href="{{ url_for('render_rental_orders_page') }}">Rental Orders</a>
    <a href="{{ url_for('render_rental_order_items_page') }}">Rental Order Items</a>
    <a href="{{ url_for('render_service_tickets_page') }}">Service Tickets</a>
    <a href="{{ url_for('render_service_ticket_items_page') }}">Service Ticket Items</a>
  </div>
</div>